In [1]:
%matplotlib inline
import sys
sys.path.insert(1, '../../script/')

In [2]:
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

from collections import defaultdict
from scipy.stats.stats import pearsonr

In [3]:
df = pd.read_csv('../../data/training.csv')

In [5]:
df.columns

Index(['RefId', 'IsBadBuy', 'PurchDate', 'Auction', 'VehYear', 'VehicleAge',
       'Make', 'Model', 'Trim', 'SubModel', 'Color', 'Transmission',
       'WheelTypeID', 'WheelType', 'VehOdo', 'Nationality', 'Size',
       'TopThreeAmericanName', 'MMRAcquisitionAuctionAveragePrice',
       'MMRAcquisitionAuctionCleanPrice', 'MMRAcquisitionRetailAveragePrice',
       'MMRAcquisitonRetailCleanPrice', 'MMRCurrentAuctionAveragePrice',
       'MMRCurrentAuctionCleanPrice', 'MMRCurrentRetailAveragePrice',
       'MMRCurrentRetailCleanPrice', 'PRIMEUNIT', 'AUCGUART', 'BYRNO',
       'VNZIP1', 'VNST', 'VehBCost', 'IsOnlineSale', 'WarrantyCost'],
      dtype='object')

## TOP LINE ASIAN -> ASIAN

In [10]:
df["Nationality"].value_counts()

AMERICAN          48800
OTHER ASIAN        6435
TOP LINE ASIAN     2995
OTHER               152
Name: Nationality, dtype: int64

In [29]:
a = df[df["Nationality"]=="TOP LINE ASIAN"].index
print(a)

Int64Index([    6,    27,    49,    50,   105,   136,   161,   165,   179,
              184,
            ...
            58228, 58267, 58282, 58309, 58311, 58347, 58368, 58373, 58375,
            58384],
           dtype='int64', length=2995)

In [30]:
for x in a:
    df.iat[x, 15] = "ASIAN"

## OTHER ASIAN -> ASIAN

In [31]:
df["Nationality"].value_counts()

AMERICAN       48800
OTHER ASIAN     9430
OTHER            152
Name: Nationality, dtype: int64

In [32]:
b = df[df["Nationality"]=="OTHER ASIAN"].index
print(b)

Int64Index([    0,     5,     6,     8,     9,    27,    32,    34,    49,
               50,
            ...
            58339, 58347, 58350, 58358, 58368, 58369, 58373, 58375, 58377,
            58384],
           dtype='int64', length=9430)

In [33]:
for x in b:
    df.iat[x, 15] = "ASIAN"

In [34]:
df["Nationality"].value_counts()

AMERICAN    48800
ASIAN        9430
OTHER         152
Name: Nationality, dtype: int64

## Size in SMALL, MEDIUM and LARGE

In [7]:
df["Size"].value_counts()

MEDIUM    35793
LARGE     16204
SMALL      6385
Name: Size, dtype: int64

In [6]:
#SMALL
a = df[df["Size"]=="COMPACT"].index
for x in a:
    df.iat[x, 16] = "SMALL"
    
b = df[df["Size"]=="SPORTS"].index
for x in b:
    df.iat[x, 16] = "SMALL"
    
#MEDIUM    
c = df[df["Size"]=="CROSSOVER"].index
for x in c:
    df.iat[x, 16] = "MEDIUM"
    
d = df[df["Size"]=="SPECIALTY"].index
for x in d:
    df.iat[x, 16] = "MEDIUM"
    
e = df[df["Size"]=="SPECIALTY"].index
for x in e:
    df.iat[x, 16] = "MEDIUM"
    
e = df[df["Size"]=="SMALL SUV"].index
for x in e:
    df.iat[x, 16] = "MEDIUM"
    
i = df[df["Size"]=="MEDIUM SUV"].index
for x in i:
    df.iat[x, 16] = "MEDIUM"
    
#LARGE
f = df[df["Size"]=="SMALL TRUCK"].index
for x in f:
    df.iat[x, 16] = "LARGE"
    
g = df[df["Size"]=="VAN"].index
for x in g:
    df.iat[x, 16] = "LARGE"
    
h = df[df["Size"]=="LARGE SUV"].index
for x in h:
    df.iat[x, 16] = "LARGE"
    
l = df[df["Size"]=="LARGE TRUCK"].index
for x in l:
    df.iat[x, 16] = "LARGE"